<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header', { activePage: 'home' }) %>
    <div class="heading_section">
        <h1>Personal Habit Tracker</h1>
        <p>Track your progress today for better habits.</p>
    </div>

    <section class="main_content">
        <div class="cards_section">
            <h2>My Habits</h2>
            <section class="cards">
                <div class="card" onclick="openPopup('Running', 2, [60, 40], 'Felt pretty good during my run today, my breathing was steadier than before. Still a bit exhausting, but I pushed through!', '/images/running.png')>
                    <img src="/images/running.png" alt="Running Image" />
                    <div class="habit">
                        <h3>Running</h3>
                        <div class="details">
                            <p>Times: 5</p>
                            <p>Status: <span class="status in-progress">In Progress</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" onclick="openPopup('Reading', 3, [80, 20])">
                    <img src="/images/reading.png" alt="Reading Image" />
                    <div class="habit">
                        <h3>Reading</h3>
                        <div class="details">
                            <p>Times: 3</p>
                            <p>Status: <span class="status in-progress">In Progress</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" onclick="openPopup('Meditation', 1, [100, 0])">
                    <img src="/images/meditation.png" alt="Meditation Image" />
                    <div class="habit">
                        <h3>Meditation</h3>
                        <div class="details">
                            <p>Times: 1</p>
                            <p>Status: <span class="status done">Done</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" onclick="openPopup('Drawing', 1, [100, 0])">
                    <img src="/images/drawing.png" alt="Drawing Image" />
                    <div class="habit">
                        <h3>Drawing</h3>
                        <div class="details">
                            <p>Times: 2</p>
                            <p>Status: <span class="status done">Done</span></p>
                        </div>
                    </div>
                </div>
                <div class="card" onclick="openPopup('Yoga', 1, [100, 0])">
                    <img src="/images/yoga.png" alt="Yoga Image" />
                    <div class="habit">
                        <h3>Yoga</h3>
                        <div class="details">
                            <p>Times: 2</p>
                            <p>Status: <span class="status done">Done</span></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div id="popup" class="popup">
          <div class="popup_content">
              <span class="close_btn" onclick="closePopup()">&times;</span>
              <h2 id="popup_title">Habit Name</h2>
              <img id="popup_image" src="" alt="Habit Image" />
              <p id="popup_description">Description</p>
              <p><strong>Time Spent: </strong> <span id="popup_time">0 hours</span></p>
              <div class="chart">
                  <h3>Progress:</h3>
                  <canvas id="popupChart"></canvas>
              </div>
          </div>
        </div>

        <div class="schedules_section">
            <h2>My Schedules</h2>
            <div class="calendar">
                <div class="timeline">
                  <div class="spacer"></div>
                  <div class="time-marker">9 AM</div>
                  <div class="time-marker">10 AM</div>
                  <div class="time-marker">11 AM</div>
                  <div class="time-marker">12 PM</div>
                  <div class="time-marker">1 PM</div>
                  <div class="time-marker">2 PM</div>
                  <div class="time-marker">3 PM</div>
                  <div class="time-marker">4 PM</div>
                  <div class="time-marker">5 PM</div>
                  <div class="time-marker">6 PM</div>
                </div>
                <div class="days">
                  <div class="day mon">
                    <div class="date">
                      <p class="date-day">Mon</p>
                    </div>
                    <div class="events">
                      <div class="event start-2 end-5 reading">
                        <p class="title">Reading<br><span style="font-style: italic; color: #4e4e4e">Harry Potter</span></p>
                        <p class="time">2 PM - 5 PM</p>
                      </div>
                    </div>
                  </div>
                  <div class="day tues">
                    <div class="date">
                      <p class="date-day">Tues</p>
                    </div>
                    <div class="events">
                      <div class="event start-10 end-12 running">
                        <p class="title">Running<br><span style="font-style: italic; color: #4e4e4e">Gym</span></p>
                        <p class="time">10 AM - 12 PM</p>
                      </div>
                      <div class="event start-1 end-4 drawing">
                        <p class="title">Drawing<br><span style="font-style: italic; color: #4e4e4e">Sketch</p>
                        <p class="time">1PM - 4PM</p>
                      </div>
                    </div>
                  </div>
                  <div class="day wed">
                    <div class="date">
                      <p class="date-day">Wed</p>
                    </div>
                    <div class="events">
                      <div class="event start-12 end-1 meditation">
                        <p class="title">Meditation<br><span style="font-style: italic; color: #4e4e4e">Home</span></p>
                        <p class="time">11 AM - 1 PM</p>
                      </div>
                      <div class="event start-2 end-5 reading">
                        <p class="title">Reading<br><span style="font-style: italic; color: #4e4e4e">Don't Make Me Think</span></p>
                        <p class="time">2 PM - 5 PM</p>
                      </div>
                    </div>
                  </div>
                  <div class="day thurs">
                    <div class="date">
                      <p class="date-day">Thurs</p>
                    </div>
                    <div class="events">
                      <div class="event start-10 end-12 running">
                        <p class="title">Running<br><span style="font-style: italic; color: #4e4e4e">Gym</span></p>
                        <p class="time">10 AM - 12 PM</p>
                      </div>
                      <div class="event start-1 end-4 drawing">
                        <p class="title">Drawing<br><span style="font-style: italic; color: #4e4e4e">Sketch</p>
                        <p class="time">1PM - 4PM</p>
                      </div>
                    </div>
                  </div>
                  <div class="day fri">
                    <div class="date">
                      <p class="date-day">Fri</p>
                    </div>
                    <div class="events">
                    <div class="event start-1 end-3 yoga">
                      <p class="title">Yoga<br><span style="font-style: italic; color: #4e4e4e">Metrotown</p>
                      <p class="time">1PM - 3PM</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <!-- JavaScript Codes -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      let chartInstance = null;

      function openPopup(title, time, progressData, description, link) {
          document.getElementById("popup").style.display = "flex";
          document.getElementById("popup_title").textContent = title;
          document.getElementById("popup_time").textContent = `${time} hours`;
          document.getElementById("popup_description").textContent = description;
          document.getElementById("popup_image").src = imageLink;

          const ctx = document.getElementById("popupChart").getContext("2d");

          if (chartInstance) {
              chartInstance.destroy();
          }

          chartInstance = new Chart(ctx, {
              type: "doughnut",
              data: {
                  labels: ["Completed", "Remaining"],
                  datasets: [{
                      data: progressData,
                      backgroundColor: ["#4CAF50", "#e0e0e0"],
                      borderWidth: 0
                  }]
              },
              options: {
                  cutout: "70%",
                  plugins: { legend: { display: false } }
              }
          });
      }

      function closePopup() {
          document.getElementById("popup").style.display = "none";
      }
    </script>


</body>
</html>